*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: maroon;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover{
    opacity: 0.7;
    cursor: pointer;
    background-color: black;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 6px solid black;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user_score,
#comp_score{
    font-size: 4rem;
}

.msg_view{
    margin-top: 5rem;
}
#msg{
    background-color: rgb(38, 11, 65);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}